.AnchorCursorPointer{
	cursor:pointer;
}
.ColorNav{
	color:#159e5b;
}
.ColorNavNone{
	color:#dd4e41;
}
.carousel-v1 .carousel-caption p{
	 text-transform: capitalize !important;
}
.carousel-caption{
	padding-top:170px;
}
.row3Paragraph{
	color:black !important;
	font-family:Open Sans;
	margin-top:-15px;
	text-align:justify;
	line-height:2;
	opacity:0.8;
	font-weight:400;
}
.camelCase {
	text-transform: capitalize !important;
}
#camelCase {
	text-transform: capitalize !important;
}
md-input-container.md-icon-float>label {
	pointer-events: none;
	position: absolute;
	font-size: 15px;
}
label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 15px;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	z-index:10;
	background-color:#293542;
}
   #myProgress_Home {


  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#myBar_Home {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #4CAF50;
}

#label_Home {
  text-align: center;
  line-height: 30px;
  color: white;
}
.header_color{
	color:#293542 !important;
}
.paragraph_color{
	color:black !important;
}
.purchase span
{
 font-size:16px !important;
}
.rzslider
{
	height:22px !important;
}
.md-button.md-default-theme.md-raised, .md-button.md-raised 
{
	background-color:#008080 !important;
	color:white !important;
}

@media (max-width: 767px) {
	.header .navbar-default .navbar-nav > li > a:hover {
		color: rgb(102, 0, 51)
	}

	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		background: rgb(102, 0, 51);
	}
}
.header .navbar-default .navbar-nav > li > a {
	color: white !important;
}
@media (max-width: 999px) {
	.header .navbar-default .navbar-nav > li > a:hover {
		color: rgb(102, 0, 51)
	}

	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		background: rgb(102, 0, 51);

	}
	.header .navbar-default .navbar-nav > li > a {
	color: black !important;
}
}
@media (min-width: 1000px) {

	.header .navbar-default .navbar-nav > li > a {
	color: white !important;
}
}
md-content.md-default-theme, md-content {
	color: rgba(0,0,0,0.87);
	background-color: white !important;
	margin-bottom:60px;
}
.lableFontSize{
	font-size:18px;
}
.margin-top-20 {
	margin-top: 20px;
}
.inputMarginTop{
	margin-top:10px;
}
.Circular_div
{

width: 200px;
height: 200px;
background: #660033;
color:#ffffff;
border-radius:50% !important;
text-align:center;
padding-top:23%;
font-size:31px;


}
.Btn_Background_Custom{
	background-color: #293542;
	color:white !important;

}
.rzslider .rz-bubble.rz-limit {
	margin-bottom:15px;
}
.header-fixed
{
	top:0px !important;
}
 .OnHoverSchemename:hover
 {
	 cursor:pointer;
	 color:rgba(102,0,51,1) !important;
 }
 .btn-u
 {
	 background-color:#008080 !important;
	 color:white;
	 text-transform:uppercase;
	 font:bold;
 }
 .ListInvestmenttd{
	 text-align:center !important;
 }
 
 .tp-banner-container .da-arrows:hover 
 {
	 display:none !important;
 }
 .tp-rightarrow
 {
	 display:none !important;
 }
 .tp-leftarrow
 {
	display:none !important;
 }
 /*.revolution-mch-1:after 
 {
	 background-color:white !important;
 }*/
 .carousel-caption
 {
	 text-shadow:none !important;
 }
 .below_slider .carousel-v1 .carousel-caption 
 {
	height: 100%;
	width: 100%;
	/* left: 0; */
	/* right: 0; */
	/* bottom: 0; */
	padding-left: 31%;
	padding-top: 13%;
	text-transform: uppercase;
	background-color: transparent;
 }
 .carousel-v1 .carousel-caption
 {
	height: 100%;
	width: 50%;
	left: 0;
	/* right: 0; */
	/* bottom: 0; */
	padding-top:18%;
	text-transform:uppercase; 
	background-color:transparent;
 }
  .carousel-v1 .carousel-caption p{
	  color:rgba(102,0,51,1) !important;
	  font-size:16px;
  }

  .Gray_Btn
  {
	background-color:#293542 !important;
	color:white !important;
}
  .Green_Btn
  {
	background-color:#5cba3c !important;
	color:white !important;
}
  .divider_color
  {
	  border-top:1px solid rgba(153, 153, 153, 0.35);
  }
  small{
	  font-size: .85em;
	font-weight: 700;
	letter-spacing: .5px;
   text-transform: uppercase;
	display: block;
	width: 100%;
	margin: 0 auto 15px;
	text-align: center;
	font-family:inherit
  }
  .sentence {
	  font-family:open sans-serif;
	  text-align:center;
	  font-size: 29px;
	  padding-bottom: 30px;
	  line-height: 1.9;
	  font-weight: 300;
	  padding: 0 36.81px 36.81px;
	  margin-bottom: .4em;
}
  .edit-age {
	display: inline-block;
	position: relative;
}
  input {
	line-height: 1;
	font-weight: 300;
	outline: 0;
	color: #1689e5;
}

  .border {
	border: 1px solid #999;
}

  .edit-age .enter-age {
	width: 70px;
	display: inline-block;
	text-align: center;
	padding: 0;
	background-color: transparent;
	font-size: 1em;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
  .edit-retirement {
	opacity: 1;
	height: auto;
	overflow: visible;
	width: auto;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
  .edit-retirement .retirement {
	height: 53px;
	top: 1px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	opacity: 1;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
  .edit-income {
	display: inline-block;
	margin-top: 10px;
	position: relative;
}
  .enter-income {
	width: 195px !important;
	display: inline-block;
	position: relative;
	text-align: center;
	margin-left: 10px;
	margin-top: -45px;
	padding: 0;
	background-color: transparent;
	font-size: 1em;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
  ol {
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	color:black;
}
  ol li a {
	  color:black !important;
  }
  .rectangle-list a{
	position: relative;
	display: block;
	padding: .4em .4em .4em .8em;
	*padding: .4em;
	margin: .5em 0 .5em 2.5em;
	background: #ddd;
	color: #444;
	text-decoration: none;
	transition: all .3s ease-out;   
}

.rectangle-list a:hover{
	background: #eee;
}   

.rectangle-list a:before{
	content: counter(li);
	counter-increment: li;
	position: absolute; 
	left: -2.5em;
	top: 50%;
	margin-top: -1em;
	background: #fa8072;
	height: 2em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	font-weight: bold;
}

.rectangle-list a:after{
	position: absolute; 
	content: '';
	border: .5em solid transparent;
	left: -1em;
	top: 50%;
	margin-top: -.5em;
	transition: all .3s ease-out;               
}

.rectangle-list a:hover:after{
	left: -.5em;
	border-left-color: #fa8072;             
} 
.md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled], .md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled]{
	background-color:lightgray !important;
}

.md-default-theme .md-datepicker-calendar, .md-datepicker-calendar
{
	background-color:white !important;
}

.list_Style {
	font-family:Open Sans;
	font-size:16px;
	color:silver;
	font-weight:500;
	cursor:pointer;
}
	.list_Style:hover {
		font-size:20px;
		color:white;
	}

.footer_Header {
font-size:20px;
color:white;
font-weight:600;
font-family:Open Sans;
text-align:center;
}

.footer_Text{
   color:white;
   font-family:Verdana;
   font-size: 12px;
}
.btnRight{
	margin-right:15px !important;
	margin-bottom:15px;
	float:right;
	color:white !important;
}
.btnRightWithout{
	
	margin-bottom:15px;
	float:right;
	color:white !important;
}
   #footerval{
	background-color:#293542 !important;
	margin-bottom:58px;
	height:auto;
}
   .footerPaddingTop{
		  padding-top: 19px;
   }
   .footerbottomCss{
	   width:90%;
	   margin-left:auto;
	   margin-right:auto;
   }
   .investorfundaColor{
	   color:#008080 !important;
   }

   .scroll-top-wrapper {
	border-radius:50% !important;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
	background-color: black;
	color: white;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: rgba(33, 53, 53, 0.81);
}
.scroll-top-wrapper.show {
	visibility:visible;
	cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

/*PortFolio Style Start*/


  .shape {
		border-style: solid;
		border-width: 0 85px 53px 0;
		float: right;
		height: 0px;
		width: 0px;
		-ms-transform: rotate(360deg); /* IE 9 */
		-o-transform: rotate(360deg); /* Opera 10.5 */
		-webkit-transform: rotate(360deg); /* Safari and Chrome */
		transform: rotate(360deg);
	}

	.offer {
		background: #fff;
		border: 1px solid #ddd;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
		margin: 15px 0;
		overflow: hidden;
	}

	.offer-radius {
		border-radius: 7px;
	}

	.offer-danger {
		border-color: #d9534f;
	}

		.offer-danger .shape {
			border-color: transparent #d9534f transparent transparent;
			border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
		}

	.offer-success {
		border-color: #5cb85c;
	}

		.offer-success .shape {
			border-color: transparent #5cb85c transparent transparent;
			border-color: rgba(255,255,255,0) #5cb85c rgba(255,255,255,0) rgba(255,255,255,0);
		}

	.offer-default {
		border-color: #999999;
	}

		.offer-default .shape {
			border-color: transparent #999999 transparent transparent;
			border-color: rgba(255,255,255,0) #999999 rgba(255,255,255,0) rgba(255,255,255,0);
		}

	.offer-primary {
		border-color: #428bca;
	}

		.offer-primary .shape {
			border-color: transparent #428bca transparent transparent;
			border-color: rgba(255,255,255,0) #428bca rgba(255,255,255,0) rgba(255,255,255,0);
		}

	.offer-info {
		border-color: #5bc0de;
	}

		.offer-info .shape {
			border-color: transparent #5bc0de transparent transparent;
			border-color: rgba(255,255,255,0) #5bc0de rgba(255,255,255,0) rgba(255,255,255,0);
		}

	.offer-warning {
		border-color: #f0ad4e;
	}

		.offer-warning .shape {
			border-color: transparent #f0ad4e transparent transparent;
			border-color: rgba(255,255,255,0) #f0ad4e rgba(255,255,255,0) rgba(255,255,255,0);
		}

	.shape-text {
		color: #fff;
		font-size: 12px;
		font-weight: bold;
		position: relative;
		right: -40px;
		top: 2px;
		white-space: nowrap;
		-ms-transform: rotate(30deg); /* IE 9 */
		-o-transform: rotate(360deg); /* Opera 10.5 */
		-webkit-transform: rotate(30deg); /* Safari and Chrome */
		transform: rotate(30deg);
	}

	.offer-content {
		padding: 0 20px 10px;
	}

/*Portfolio Style End*/