<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{Popup_Header}}</h4>
            </div>
            <div class="modal-body" style="padding-top:10px">
                <p>What should my SIP amount be?</p>
                <h4 style="margin-bottom:31px;border-bottom:1px solid gray">Your financial goal</h4>

                <div flex="100">
                    <md-input-container class="md-block" style="height:40px">
                        <label>My target is (Rs.)</label>
                        <input ng-model="SIP_Target" id="SIP_Target">
                    </md-input-container>
                </div>
                <div flex="100">
                    <md-input-container class="md-block" style="height:40px">
                        <label>Number of months</label>
                        <input ng-model="SIP_NOM" id="SIP_NOM">
                    </md-input-container>
                </div>
                <div flex="100">
                    <md-input-container class="md-block" style="height:40px">
                        <label>Expectation of annual return on investment (in percent, CAGR)</label>
                        <input ng-model="SIP_Expetation" id="SIP_Expetation">
                    </md-input-container>
                </div>
                <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                    <md-button class="md-raised" ng-click="ResetCalculatorFunction_SIP()">Reset</md-button>
                    <md-button class="md-raised md-primary" ng-click="CalculatorFunction_SIP()">Calculate</md-button>
                </section>
                <section layout="row" layout-wrap style="background-color:rgba(0, 255, 255, 0.37)" ng-show="CalculateDiv_Show">
                    <h4>SIP investment required *</h4>
                    <div layout="row">
                        <table style="width:100%">
                            <tr>
                                <td style="width:80%">On a monthly basis, you would need to save and invest</td>
                                <td style="width:20%;text-align:right"><strong>Rs {{CalculatedAmount}}</strong></td>
                            </tr>
                        </table>

                    </div>

                </section>
            </div>
            <div class="modal-footer">

                <md-button class="md-raised" data-dismiss="modal">Close</md-button>
            </div>
        </div>

    </div>
</div>