<div class="col-md-12 margin-bottom-60" style="background-color:white">
<div class="row margin-bottom-10"  ng-if="Investment.firstStepSip" style="text-align:center">
    <!--<img src="../../../Img/StartSip/startSIP.png" style="height:425px" ng-if="startSipPage" />-->
    <img src="../../../Img/OTIMicrosoftSansB.png"  style="width:100%" ng-if="easytSipPage"/>
    <img src="../../../Img/SSipMicrosoftSansB.png" style="width:100%" ng-if="startSipPage"/>
</div>
<div class="row margin-bottom-40" ng-show="EasySIP_Step1">
    <div class="row tab-v3">
        
        <div class="col-sm-12">
            
            <div class="panel-body" ng-if="Investment.firstStepSip">
                <form class="margin-bottom-40" role="form">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">For How Long You Wish To Stay Invested?</label>
                            <select class="form-control" ng-model="Investment.horizone" >
                                <option value="0">Select Horizon</option>
                                <option ng-value="{{$index+1}}" ng-repeat="i in getRepeatNumber(setNumber) track by $index">{{$index+1}} Year</option>
                              
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="startSipPage">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Your Monthly Investment Is</label>
                            <select class="form-control" ng-model="Investment.amount" >
                                <option value="0">Select Investment</option>
                                <option ng-value="500">500</option>
                                <option ng-value="Amount" ng-repeat="Amount in MonthlyInvetmentAmount">{{Amount}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="easytSipPage">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Your One Time Investment Is</label>
                           <input type="text" class="form-control" placeholder="Enter Amount want to invest" ng-model="Investment.amount" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Choose Your Risk Profile</label>
                            <select class="form-control" ng-model="Investment.risk" >
                                <option value="0">Select Risk</option>
                                <option ng-value="Low">Low</option>
                                <option ng-value="Moderate">Moderate</option>
                                <option ng-value="High">High</option>
                            </select>
                        </div>
                    </div>

                    <a class="AnchorCursorPointer btn-u btn-u-blue btnRight margin-top-20" ng-click="StartPopup()"  >Invest Now</a>
                   
                </form>
            </div>
            <div class="panel-body">
                <div class="col-md-12 margin-bottom-60" ng-if="SIP_GOAL_Final_SHOW">
                    <div ng-include="'Webform/Common/Html/planForYourFutureStep3.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row margin-bottom-40" ng-show="EasySIP_Step2">
    <div class="col-md-12" style="background-color:white;" >
        <div class="row" ng-include="'../../Webform/Common/Html/portFolio.html'"></div>
    </div>
</div>

</div>
