<div class="col-md-12 margin-bottom-60" style="background-color:white">
<div class="row margin-bottom-10" style="background-color:gray" ng-show="EasySIP_Step1">

    <img src="../../../Img/EasySip.png" style="width:100%" />
</div>
<div class="row margin-bottom-40" ng-show="EasySIP_Step1">
    <div class="row tab-v3">
        
        <div class="col-sm-12">
            
            <div class="panel-body" ng-if="Investment.firstStepSip">
                <form class="margin-bottom-40" role="form">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">For how long you wish to stay invested?</label>
                            <select class="form-control" ng-model="Investment.horizone">
                                <option value="0">Select Horizon</option>
                                <option ng-value="{{$index+1}}" ng-repeat="i in getRepeatNumber(setNumber) track by $index">{{$index+1}} Year</option>
                              
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="startSipPage">
                        <div class="form-group">
                            <label for="exampleInputPassword1">YOUR MONTHLY INVESTMENT IS</label>
                            <select class="form-control" ng-model="Investment.amount">
                                <option value="0">Select Investment</option>
                                <option ng-value="2000">2000</option>
                                <option ng-value="4000">4000</option>
                                <option ng-value="6000">6000</option>
                                <option ng-value="8000">8000</option>
                                <option ng-value="10000">10000</option>
                                <option ng-value="12000">12000</option>
                                <option ng-value="14000">14000</option>
                                <option ng-value="16000">16000</option>
                                <option ng-value="18000">18000</option>
                                <option ng-value="20000">20000</option>
                                <option ng-value="22000">22000</option>
                                <option ng-value="24000">24000</option>
                                <option ng-value="26000">26000</option>
                                <option ng-value="28000">28000</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="easytSipPage">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Your ONE TIME INVESTMENT IS</label>
                           <input type="text" class="form-control" placeholder="Enter Amount want to invest" ng-model="Investment.amount" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">CHOOSE YOUR RISK PROFILE</label>
                            <select class="form-control" ng-model="Investment.risk">
                                <option value="0">Select Risk</option>
                                <option ng-value="Low">Low</option>
                                <option ng-value="Moderate">Moderate</option>
                                <option ng-value="High">High</option>
                            </select>
                        </div>
                    </div>

                    <a class="AnchorCursorPointer btn-u btn-u-blue" ng-click="StartPopup()" style="margin-left:15px;font:bold;color:white" >Invest Now</a>
                   
                </form>
            </div>
            <div class="panel-body">
                <div class="col-md-12 margin-bottom-60" ng-if="SIP_GOAL_Final_SHOW">
                    <div ng-include="'Webform/Common/Html/planForYourFutureStep3.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row margin-bottom-40" ng-show="EasySIP_Step2">
    <div class="col-md-12" style="background-color:white;" >
        <div class="row" ng-include="'../../Webform/Common/Html/portFolio.html'"></div>
    </div>
</div>

</div>
