<div class="col-md-12">
    <div class="tag-box tag-box-v3">
        <div class="heading heading-v4">
            <h1><strong>What is your goal?</strong> </h1>
        </div>

        <hr class="devider devider-dotted">
        <div class="row">
            <input type="file" name="file" onchange="angular.element(this).scope().uploadFile1(this.files)" />
            <input accept="image/*" ng-files="getTheFiles($files)" name="file" ng-value="fileToUpload" value="{{fileToUpload}}" file-model="fileToUpload" set-file-data="fileToUpload = value;" type="file" id="my_file" />

            <input type="file" id="file1" ng-model="takefile" name="file" multiple
                   ng-files="getTheFiles($files)" />

            <input type="button" ng-click="uploadFiles()" value="Upload" />

           <input type="file" id="di" />
            <input type="button" ng-click="uploadfile()" value="Submit" />

            <div class="row content-boxes-v1 margin-bottom-40">
                <div class="col-md-2 md-margin-bottom-30 AnchorCursorPointer" ui-sref="ChildGoal">
                    <h2 class="heading-md">
                        <img src="../../../Img/StartSip/CE-01.png" />
                        <!--<i class="icon-custom rounded-x icon-lg icon-bg-dark fa fa-graduation-cap"></i>-->
                        <span>CHILD’S EDUCATION</span>
                    </h2>
                    
                </div>
                <div class="col-md-2 md-margin-bottom-30 AnchorCursorPointer" ui-sref="Retirement">
                    <h2 class="heading-md">
                        <img src="../../../Img/StartSip/retirement-01.png" />
                        <!--<i class="icon-custom rounded-x icon-lg icon-bg-dark fa fa-wheelchair"></i>-->
                        <span>RETIREMENT PLAN</span>
                    </h2>
                    
                </div>
                <div class="col-md-2 AnchorCursorPointer" ui-sref="HousePlan">
                    <h2 class="heading-md">
                        <img src="../../../Img/StartSip/house-01.png" />
                        <!--<i class="icon-custom rounded-x icon-lg icon-bg-dark icon-line icon-home"></i>-->
                        <span>BUY A HOUSE</span>
                    </h2>
                   
                </div>
                <div class="col-md-2 AnchorCursorPointer" ui-sref="CarPlan">
                    <h2 class="heading-md">
                        <img src="../../../Img/StartSip/car-01.png" />
                        <!--<i class="icon-custom rounded-x icon-lg icon-bg-dark fa fa-car"></i>-->
                        <span>BUY A CAR</span>
                    </h2>

                </div>
                <div class="col-md-2 AnchorCursorPointer" ui-sref="ChildMerrage">
                    <h2 class="heading-md" >
                        <img src="../../../Img/StartSip/wedding-01.png" />
                        <!--<i class="icon-custom rounded-x icon-lg icon-bg-dark icon-line icon-user"></i>-->
                        <span>PLAN A MARRIAGE</span>
                    </h2>

                </div>
                <div class="col-md-2 AnchorCursorPointer" ui-sref="Tour">
                    <h2 class="heading-md">
                        <img src="../../../Img/StartSip/trip-01.png" />
                        <!--<i class="icon-custom rounded-x icon-lg icon-bg-dark icon-line icon-home"></i>-->
                        <span>PLAN A HOLIDAY</span>
                    </h2>

                </div>
            </div>
           
        </div>
     
           </div>
</div>