
<style>
    .rzslider .rz-pointer:after {
        position: absolute;
        top: 3px !important;
        left: 3px !important;
        width: 27px !important;
        height: 27px !important;
        background: #ffffff !important;
        border-radius: 50% !important;
        content: '';
    }

    .rzslider .rz-pointer {
        top: -16px;
        z-index: 3;
        width: 33px !important;
        height: 33px !important;
        cursor: pointer;
        background-color: rgba(102,0,51,1) !important;
        border-radius: 16px;
    }

    span.rz-bar.rz-selection {
        background-color: rgba(102,0,51,1) !important;
    }

    .rzslider .rz-bar {
        left: 0;
        z-index: 1;
        width: 100%;
        height: 8px;
        background: #d8e0f3 !important;
        border-radius: 2px;
    }

    #circle {
        padding-top: 11px;
        border: 3px solid rgba(102,0,51,1);
        width: 50px;
        height: 50px;
        border-radius: 50% !important;
        /* background: red; */
        color: black;
        text-align: center;
        float: right;
        margin-right: 20px;
    }
</style>
<style>
    body {
        margin: 0;
        padding: 1.5em;
        font-family: Georgia,Utopia,Charter,serif;
    }

    .example {
        margin-bottom: 1.5em;
    }

    input[type=checkbox]:not(old),
    input[type=radio ]:not(old) {
        width: 2em;
        margin: 0;
        padding: 0;
        font-size: 1em;
        opacity: 0;
    }

        input[type=checkbox]:not(old) + label,
        input[type=radio ]:not(old) + label {
            display: inline-block;
            margin-left: -2em;
            line-height: 1.5em;
        }

            input[type=checkbox]:not(old) + label > span,
            input[type=radio ]:not(old) + label > span {
                display: inline-block;
                width: 1.25em;
                height: 1.25em;
                margin: 0.25em 0.5em 0.25em 0.25em;
                border: 0.0625em solid rgb(192,192,192);
                border-radius: 0.25em;
                background: rgb(224,224,224);
                background-image: -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
                background-image: -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
                background-image: -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
                background-image: -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
                background-image: linear-gradient(rgb(240,240,240),rgb(224,224,224));
                vertical-align: middle;
            }

        input[type=checkbox]:not(old):checked + label > span,
        input[type=radio ]:not(old):checked + label > span {
            background-image: -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
            background-image: -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
            background-image: -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
            background-image: -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
            background-image: linear-gradient(rgb(224,224,224),rgb(240,240,240));
        }

            input[type=checkbox]:not(old):checked + label > span:before {
                content: '✓';
                padding-top: 4px;
                display: block;
                width: 1em;
                color: rgb(92, 136, 49);
                font-size: 0.875em;
                line-height: 1em;
                text-align: center;
                text-shadow: 0 0 0.0714em rgb(115,153,77);
                font-weight: bold;
            }

            input[type=radio]:not(old):checked + label > span > span {
                display: block;
                width: 0.5em;
                height: 0.5em;
                margin: 0.125em;
                border: 0.0625em solid rgb(115,153,77);
                border-radius: 0.125em;
                background: rgb(153,204,102);
                background-image: -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
                background-image: -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
                background-image: -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
                background-image: -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
                background-image: linear-gradient(rgb(179,217,140),rgb(153,204,102));
            }

    .flatpickr-day {
        background: none;
        border: 1px solid transparent;
        border-radius: 150px !important;
        box-sizing: border-box;
        color: #393939;
        cursor: pointer;
        font-weight: 400;
        width: 14.2857143%;
        -webkit-flex-basis: 14.2857143%;
        -ms-flex-preferred-size: 14.2857143%;
        flex-basis: 14.2857143%;
        max-width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 0;
        display: inline-block;
        position: relative;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
    .flatpickr-calendar.inline {
    display: none !important;
    position: relative;
    top: 2px;
}
</style>
<script>
    var configDate = {
        dateFormat: "Y",
        theme: 'material_red'
    };
    $("#DatePlugin").flatpickr(configDate);
</script>
<section class="insurance-headline" style="background-color:white">
    <div class="row">
        <div class="shadow-wrapper margin-bottom-10">
            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                <h2><strong>BUY A HOUSE PLAN</strong>   </h2>
                <h3 style="font-size: 15px;font-weight:500"> Lets plan for your home together</h3>
            </div>
        </div>



        <div class="col-md-12 margin-bottom-60" ng-show="!SIP_GOAL_Final_SHOW">
            <div class="col-md-5" ng-show="!BuyHouse_Step2">

                <img src="../../../Img/SIP/buyahouse.png" style="width:100%" />
                <!--<img src="http://demobyrightfoot.in/wp-content/uploads/2016/11/HK_3035-1-1.png" style="width:100%" />-->
                
            </div>
            <div ng-class="BuyHouse_Step2 ? 'col-md-12' : 'col-md-7'" style="text-align:left;padding-top:20px" md-theme="default">
                <div class="col-md-12" style="padding:0px" ng-show="BuyHouse_Step1">
                    <div class="row margin-bottom-20">
                        <div class="col-md-9">
                            What is your age?(<span class="red-text">in Years</span> )

                            <rzslider rz-slider-model="SIP_CurrentAge.value"
                                      rz-slider-options="SIP_CurrentAge.options"></rzslider>
                        </div>
                        <div class="col-md-3" style="margin-top: 32px;">
                            <div id="circle">
                                {{SIP_CurrentAge.value}}
                            </div>
                        </div>
                    </div>
                   
                    <md-input-container class="md-block">
                    
                        <input type="text" id="DatePlugin" placeholder="Year in which you plan to buy?" ng-model="Portfolio_Parameter.planBoughtYear" />
                        <!--<input ng-model="Portfolio_Parameter.planBoughtYear">-->
                    </md-input-container>
                    <md-input-container class="md-block" style="margin-top:30px">
                        <label> Current cost of the house</label>
                        <input ng-model="Portfolio_Parameter.currentCostOfHouse">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Down payment you wish to pay? (%)</label>
                        <input ng-model="Portfolio_Parameter.downPaymentPercentage">
                    </md-input-container>

                    <div class="row margin-bottom-20">
                        <div class="col-md-9">
                            Loan repayment period(<span class="red-text">in Years</span> )

                            <rzslider rz-slider-model="SIP_loanPeriodYear.value"
                                      rz-slider-options="SIP_loanPeriodYear.options"></rzslider>
                        </div>
                        <div class="col-md-3" style="margin-top: 32px;">
                            <div id="circle">
                                {{SIP_loanPeriodYear.value}}
                            </div>
                        </div>
                    </div>
                  
                  
                    <md-input-container class="md-block">
                        <label>Amount you wish to invest right now?  </label>
                        <input ng-model="Portfolio_Parameter.amountWantToInvestNow">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Estimated annual inflation rate from now %</label>
                        <input ng-model="Portfolio_Parameter.Portfolio_InflationRate">
                    </md-input-container>
                </div>
                <div  style="padding:0px" ng-show="BuyHouse_Step2">
                    <div ng-include="'Webform/Common/Html/planForYourFutureStep2.html'"></div>
                  

                </div>
                <div class="row text-right">
                    
                    
                    <md-button ng-show="BuyHouse_Step1" class="md-raised" ng-click="Portfolio_HouseCalculate()">Calculate</md-button>
                </div>


            </div>

           
        </div>
        <div class="col-md-12 margin-bottom-60" ng-show="SIP_GOAL_Final_SHOW">
            <div ng-include="'Webform/Common/Html/planForYourFutureStep3.html'"></div>

        </div>
        
    </div>




</section>