<div class="register">
    <div class="col-md-6 login-left">
        <h3>Registered Accunt</h3>
        <p>By creating an account with ours, you will be able to move through the checkout process faster, store multiple shipping SIP, view and track your orders in your account and more.</p>
        <a class="acount-btn" href="register.html">Create an Account</a>
    </div>
    <div class="col-md-6 login-right">
        <h3>Registered Customers</h3>
        <p>If you have an account with us, please log in.</p>
        <form>
            <div>
                <span>Email Address<label>*</label></span>
                <input type="text" ng-model="admin.UserID">
            </div>
            <div>
                <span>Password<label>*</label></span>
                <input type="text" ng-model="admin.Password">
            </div>
            <a class="forgot" href="#">Forgot Your Password?</a>
            <input type="button" ng-click="Login()" value="Login">
        </form>
    </div>
    <div class="clearfix"> </div>
</div>