<style>
    button.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        button.accordion.active, button.accordion:hover {
            background-color: #ddd;
        }

   
</style>

<div class="movie_top">
    <div class="col-md-12 movie_box">
      <div class="col-md-6">
          <p>Name : {{usernvestmentdetails[0].Name}}</p>
          <p>Client Code : {{usernvestmentdetails[0].ClientCode}}</p>
          <p>Transaction Type : {{usernvestmentdetails[0].ClientType}}</p>
          <p>Transaction ID : {{usernvestmentdetails[0].NSDLDP_ID}}</p>
          <p>NSDL Bank Account NO : {{usernvestmentdetails[0].NSDLBenAcNo}}</p>
          <p>CSDL Bank Account NO : {{usernvestmentdetails[0].CDSLBenAcNo}}</p>
          <p>Pan Card No : {{usernvestmentdetails[0].UR_PANCardNo}}</p>
          <p>Email ID : {{usernvestmentdetails[0].UR_Email}}</p>
          <p>Mobile No : {{usernvestmentdetails[0].UR_Mobile}}</p>
      </div>
        <div class="col-md-6">
            <div class="col-md-12" ng-repeat="InvstDetail in UserInvestmentSchemeDetailsData">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#{{$index}}acollapseOne">
                                    <span class="glyphicon glyphicon-file">
                                    </span>{{InvstDetail.SchemeName}}
                                </a>
                            </h4>
                        </div>
                        <div data-target="{{$index}}acollapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>BSESchemeCode : {{InvstDetail.BSESchemeCode}}</p>
                                <p>Amount : {{InvstDetail.Amount}}</p>
                                <p>InvestmentType : {{InvstDetail.InvestmentType}}</p>
                                <p>MendateID : {{InvstDetail.MendateID}}</p>
                                <p>ISIN : {{InvstDetail.ISIN}}</p>
                            </div>
                        </div>
                    </div>
                    
                </div>


                <!--<button class="accordion" data-toggle="collapse" data-target="#{{$index}}a">SchemeName : {{InvstDetail.SchemeName}}</button>
                <div class="panel collapse" id="{{$index}}a" >
                    <p>BSESchemeCode : {{InvstDetail.BSESchemeCode}}</p>
                    <p>Amount : {{InvstDetail.Amount}}</p>
                    <p>InvestmentType : {{InvstDetail.InvestmentType}}</p>
                </div>-->
            </div>

        </div>
        <div class="clearfix"> </div>
        <!---728x90--->
        <p class="m_4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        <!---728x90--->
  
    </div>
 
    <div class="clearfix"> </div>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }
}
</script>