<style>
    button.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        button.accordion.active, button.accordion:hover {
            background-color: #ddd;
        }

   
</style>

<div class="movie_top">
    <div class="col-md-12 movie_box">
        <div class="col-lg-12" style="height:45px;background-color:#cccedb;padding-left:16px;padding-top: 7px;margin-top:35px">
            <input type="button" data-toggle="modal" data-target="#ApproveModel" class="btn btn-success" value="Approve Plan & Update NavDetails" />
            <input type="button" data-toggle="modal" data-target="#AddSip " class="btn btn-success" value="Add SIP" />
        </div>
      <div class="col-md-6">
          <p >Name : <span style="color:green;cursor:pointer" data-toggle="modal" data-target="#myModal" ng-click="GetAllDetails()"> {{usernvestmentdetails[0].Name}}</span></p>
          <p>Client Code : {{usernvestmentdetails[0].ClientCode}}</p>
          <p>Transaction Type : {{usernvestmentdetails[0].ClientType}}</p>
          <p>Transaction ID : {{usernvestmentdetails[0].NSDLDP_ID}}</p>
          <p>NSDL Bank Account NO : {{usernvestmentdetails[0].NSDLBenAcNo}}</p>
          <p>CSDL Bank Account NO : {{usernvestmentdetails[0].CDSLBenAcNo}}</p>
          <p>Pan Card No : {{usernvestmentdetails[0].UR_PANCardNo}}</p>
          <p>Email ID : {{usernvestmentdetails[0].UR_Email}}</p>
          <p>Mobile No : {{usernvestmentdetails[0].UR_Mobile}}</p>
      </div>
        <div class="col-md-6">
            <div class="col-md-12" ng-repeat="InvstDetail in UserInvestmentSchemeDetailsData">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#{{$index}}acollapseOne">
                                    <span class="glyphicon glyphicon-file">
                                    </span>{{InvstDetail.SchemeName}}
                                </a>
                            </h4>
                        </div>
                        <div data-target="{{$index}}acollapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>BSESchemeCode : {{InvstDetail.BSESchemeCode}}</p>
                                <p>Amount : {{InvstDetail.Amount}}</p>
                                <p>InvestmentType : {{InvstDetail.InvestmentType}}</p>
                                <p>MendateID : {{InvstDetail.MendateID}}</p>
                                <p>ISIN : {{InvstDetail.ISIN}}</p>
                            </div>
                        </div>
                    </div>
                    
                </div>


                <!--<button class="accordion" data-toggle="collapse" data-target="#{{$index}}a">SchemeName : {{InvstDetail.SchemeName}}</button>
                <div class="panel collapse" id="{{$index}}a" >
                    <p>BSESchemeCode : {{InvstDetail.BSESchemeCode}}</p>
                    <p>Amount : {{InvstDetail.Amount}}</p>
                    <p>InvestmentType : {{InvstDetail.InvestmentType}}</p>
                </div>-->
            </div>

        </div>
        <div class="clearfix"> </div>
        <!---728x90--->
        <p class="m_4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        <!---728x90--->
  
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                

                  
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#1acollapseOne">
                                            <span class="glyphicon glyphicon-file">
                                            </span>User details
                                        </a>
                                    </h4>
                                </div>
                                <div data-target="1acollapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Name : {{userCompleteDetails.UserProfileData.FirstName}}</p>
                                        <p>DOB : {{userCompleteDetails.UserProfileData.DateOfBirth}}</p>
                                        <p>Pan Card : {{userCompleteDetails.UserProfileData.PANNumber}}</p>
                                        <p>Gender : {{userCompleteDetails.UserProfileData.Gender}}</p>
                                        <p>Holdibg Nature : {{userCompleteDetails.UserProfileData.HoldingNature_Name}}</p>
                                        <p>Tax Status : {{userCompleteDetails.UserProfileData.TaxStatus_Name}}</p>
                                        <p>Occupation Mode : </p>
                                        <p>Dividend Pay Mode :{{userCompleteDetails.UserProfileData.DividentPayMode}}</p>
                                    </div>
                                </div>
                            </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#2acollapseOne">
                                    <span class="glyphicon glyphicon-file">
                                    </span>Bank details
                                </a>
                            </h4>
                        </div>
                        <div data-target="2acollapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>Bank Name : {{userCompleteDetails.BankDetailsData.BankName}}</p>
                                <p>IFSC Code : {{userCompleteDetails.BankDetailsData.Bank_IFSC}}</p>
                                <p>Account No : {{userCompleteDetails.BankDetailsData.Bank_AccountNo}}</p>
                                <p>Account Type : {{userCompleteDetails.BankDetailsData.Bank_AccountTypeName}}</p>
                                <p>Name As Per Account : {{userCompleteDetails.BankDetailsData.NameAsPerBank}}</p>
                               
                            </div>
                        </div>
                    </div>
             
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#2acollapseOne">
                                    <span class="glyphicon glyphicon-file">
                                    </span>Depository details
                                </a>
                            </h4>
                        </div>
                        <div data-target="2acollapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>Client Type : {{userCompleteDetails.DepositoryDetailsData.ClientType}}</p>
                                <p >Depository Name : {{userCompleteDetails.DepositoryDetailsData.DepositoryName}}</p>
                                <p >CSDL/NSDL DP ID : {{userCompleteDetails.DepositoryDetailsData.NSDLDP_ID}}</p>
                                <p >CSDL BANK ACT. : {{userCompleteDetails.DepositoryDetailsData.CDSLBenAcNo}}</p>
                                <p >NSDL BANK ACT : {{userCompleteDetails.DepositoryDetailsData.NSDLBenAcNo}}</p>

                            </div>
                        </div>
                    </div>


                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- Modal -->
<div id="ApproveModel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Approve Investment</h4>
            </div>
            <div class="modal-body">
                <form>
                    <label>Approve </label>
                    <input type="checkbox" />

                </form>
                <form>
                    <label>Update Nav Details</label>
                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Scheme Name</th>
                                <th>Nav Details</th>
                                <th>Date</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="List in SortMFInvetList">
                                <td>{{$index+1}}</td>
                                <td>{{List.SchemeName}}</td>
                                <td><input type="text" class="form-control" ng-model="List.MF_CurrentNavValue" /></td>
                                <td><input type="date" class="form-control" ng-model="List.DueDate" /></td>
                            </tr>
                        </tbody>

                    </table>

                </form>
            </div>
            <div class="modal-footer">

                <input type="button" class="btn btn-default" ng-click="UpdateMFInvestment()" value="Submit" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="AddSip" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add SIP for current month</h4>
            </div>
            <div class="modal-body">
                
                <form>
                    <div class="col-lg-12">

                    </div>
                    <label>Invest</label>
                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Scheme Name</th>
                                <th>Amount</th>
                                <th>Nav Details</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="List in SortMFInvetList">
                                <td>{{$index+1}}</td>
                                <td>{{List.SchemeName}}</td>
                                <td><input type="text" placeholder="Amount" class="form-control" ng-model="List.Amount" /></td>
                                <td><input type="text" placeholder="Current MF" class="form-control" ng-model="List.MF_CurrentNavValue" /></td>
                                <td><input type="date" class="form-control" ng-model="List.DueDate" /></td>
                                <td><input type="button" class="form-control btn btn-success" value="Invest" ng-click="userInvestmentList(List)" /></td>
                            </tr>
                        </tbody>

                    </table>

                </form>
            </div>
            <div class="modal-footer">

                <input type="button" class="btn btn-default" ng-click="UpdateMFInvestment()" value="Submit" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }
}
</script>