<div class="col-md-12">

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#1acollapseOne">
                        <span class="glyphicon glyphicon-file">
                        </span>User details
                    </a>
                </h4>
            </div>
            <div data-target="1acollapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>Name : {{InvstDetail.BSESchemeCode}}</p>
                    <p>DOB : {{InvstDetail.Amount}}</p>
                    <p>Pan Card : {{InvstDetail.InvestmentType}}</p>
                    <p>Gender : {{InvstDetail.MendateID}}</p>
                    <p>Holdibg Nature : {{InvstDetail.ISIN}}</p>
                    <p>Tax Status : {{InvstDetail.ISIN}}</p>
                    <p>Occupation Mode : {{InvstDetail.ISIN}}</p>
                    <p>Dividend Pay Mode : {{InvstDetail.ISIN}}</p>
                </div>
            </div>
        </div>

    </div>


 
</div>