
<!DOCTYPE HTML>
<html ng-app="app">
<head>
    <title>InvestorFunda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start plugins -->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="http://textangular.com/dist/textAngular.css" type="text/css">
</head>
<body>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <body ng-controller="adminCtrl">

        <div class="container">
            <div class="container_wrap">
                <div class="header_top">
                    <div class="col-sm-4 logo"><a href="index.html">INVESTORFUNDA</a></div>
                    <div class="col-sm-6 nav">
                        <ul>
                            <li ng-show="userNotificationList.length>0">   <a data-toggle="modal" style="cursor:pointer" data-target="#myModal"> Notification</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 right">
                        <a ng-click="LogOut()" style="color:red" ng-show="userList.length>0">LogOut</a>
                        <a ui-sref="AddBlog" ng-show="userList.length>0" style="margin-left:20px">Blog</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                

                <div class="content">
                    <div ui-view></div>
                </div>




            </div>
        </div>
        <!---728x90--->
        <div class="container">
            <footer id="footer">
                <div id="footer-3d">
                    <div class="gp-container">
                        <span class="first-widget-bend"> </span>
                    </div>
                </div>
                <div id="footer-widgets" class="gp-footer-larger-first-col">
                    <div class="gp-container">
                        <div class="footer-widget footer-1">
                            <div class="wpb_wrapper">
                                INVESTORFUNDA
                            </div>
                            <br>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
                            <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                        </div>
                        <div class="footer_box">
                            <div class="col_1_of_3 span_1_of_3">
                                <h3>Follow Us</h3>
                                <ul class="first">
                                    <li><a href="#">Facebook</a></li>
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">Youtube</a></li>
                                </ul>
                                <div class="copy">
                                    <p>&copy; 2017 InvestorFunda. All Rights Reserved | Template by <a href="http://www.swatantra.tech" target="_blank"> Swatantra</a></p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </footer>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Notification Header</h4>
                    </div>
                    <div class="modal-body">



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#1acollapseOne">
                                        <span class="glyphicon glyphicon-file">
                                        </span>Notification details
                                    </a>
                                </h4>
                            </div>
                            <div data-target="1acollapseOne" class="panel-collapse collapse in">
                                 <div class="panel-body">
                                     <table class="table table-responsive">
                                         <thead>
                                             <tr>
                                                 <th>Sr</th>
                                                 <th>Name</th>
                                                 <th>No</th>
                                                 <th>Date</th>
                                                 <th>Action</th>
                                             </tr>
                                         </thead>
                                         <tbody>
                                             <tr ng-repeat="notification in userNotificationList">
                                                 <td>{{$index}}</td>
                                                 <td>{{notification.Name}}</td>
                                                 <td>{{notification.Count}}</td>
                                                 <td>{{notification.LatestTime}}</td>
                                                 <td><input type="button" value="Delete" /> </td>
                                             </tr>
                                         </tbody>
                                     </table>
                                 </div>
                            </div>
                        </div>
                   



                    </div>
                   
                </div>

            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/textAngular-rangy.min.js"></script>
        <script src="js/textAngular-sanitize.min.js"></script>
        <script src="js/textAngular.min.js"></script>
        <script src="js/angular-ui-router.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="../../Script/Module/Config.js"></script>
        <script src="Script/module/app.js"></script>
        <script src="Script/controller/adminCtrl.js"></script>
        <script src="Script/service/adminSrv.js"></script>
    </body>
   
</html>