
<div class="md-padding" layout="row" >
    <div class="row" >
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" style="color:white">My monthly investment need</span>
                    <span class="md-subhead text-justify" style="color:white">Suppose you’ll be needing Rs.10 lakhs in next 5 years. How much you
Should invest through SIP on the monthly basis from now to achieve this goal? With the help of this calculator, you may know as to how much you should invest in SIP to achieve a certain amount of money in a specific time duration.
</span>

                </md-card-title-text>

            </md-card-title>
            <md-card-actions layout="row">
                <md-button class="md-raised">Calculate</md-button>
                <input type="button" class="btn btn-primary" value="Click" />
                <md-button class="md-raised" data-toggle="modal" ng-click="OpenPopup('SIP CALCULATE')" data-target="#myModal" >Calculate SIP amount</md-button>
            </md-card-actions>
        </md-card>
        <md-card md-theme="dark-blue">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" style="color:white;">Investment Needed For My Child’s Education</span>
                    <span class="md-subhead text-justify" style="">Use this calculator to determine the monthly SIP investment amount or bulk investment amount you require to meet the goal of your child’s education in future. All you need is to fill in your child’s current age; the current estimate cost of the course and the calculator will do the rest.</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">

                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row">
                <md-button class="md-raised">Calculate SIP for Child's education</md-button>
            </md-card-actions>
        </md-card>


    </div>
    <div class="row" >
        <md-card md-theme="dark-blue">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" style="color:white">Tax Savings Calculator</span>
                    <span class="md-subhead text-justify" style="color:white">Use this calculator to know how much tax can be saved by investing in ELSS, NPS & other 80C instruments. </span>

                </md-card-title-text>

            </md-card-title>
            <md-card-actions layout="row" style="margin-top:20px">
                <md-button class="md-raised" data-toggle="modal" ng-click="OpenPopup('SIP CALCULATE')" data-target="#myModal">Calculate Tax Savings</md-button>
            </md-card-actions>
        </md-card>
        <md-card md-theme="dark-blue">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" style="color:white;">Investment Needed For My Child’s Marriage</span>
                    <span class="md-subhead text-justify" style="">This calculator helps you to determine the monthly SIP investment amount required today to meet the goal of your child’s marriage in future. You need to know for how many years you have to invest and what is the current cost to arrange a marriage? The calculator will be of great help to you. </span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">

                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row">
                <md-button class="md-raised">Calculate SIP for Child's marriage</md-button>
            </md-card-actions>
        </md-card>


    </div>
    
    <div ng-include="'#/Popup/Calculator_Popup.html'"></div>

</div>
