
<link href="../../Style/Common/checkbox.css" rel="stylesheet" />



<div class="col-md-12 margin-bottom-50 margin-top-20" ng-if="compreListView">
    <!-- Begin Sidebar Menu -->
    <div class="col-md-3 rounded-2x">
        <div ng-include="'Webform/Common/mutualFundsLeft.html'"></div>
    </div>
    <!-- End Sidebar Menu -->
    <!-- Begin Content -->
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
            </div>
        </div>
        <div class="alert alert-info fade in rounded-2x">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h3>Methodology of choosing Funds </h3>
            All the funds of top AMC are listed in this section to deliver convenience to the investors. View a list of top and best funds from each mutual fund category to make a smart investment decision. Check all mutual funds to invest in SIP or Lumpsum in the way you want.
        </div>
        <div class="panel panel-green margin-bottom-40">
            <div class="panel-heading">
                <h3 class="panel-title text-right"><input type="button" class="btn btn-primary"  value="Compare" ng-click="compareFunds()" /></h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SR. No.</th>
                        <th>Scheme</th>
                        <th>Category</th>
                        <th>Nav</th>
                        <th>Return(%)3 Year</th>
                        <!--<th>Rating By Crisil</th>-->
                        <th>Analysis</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="MF in FundsList | filter : filterprodcut | limitTo : SchemeLimitTo" id="{{MF.SchemeID}}">
                        <td>{{$index+1}}</td>
                        <td ng-click="GoForMFDetails(MF.SchemeID)" class="OnHoverSchemename"> {{MF.SchemeName}}</td>
                        <td class="hidden-sm">{{MF.CategoryName}}</td>
                        <td>{{MF.NAV | number:2}}</td>
                        <td><span class="label label-warning">{{MF.Return_3Yr | number:2}} %</span></td>
                        <!--<td>2</td>-->
                        <td><img src="../../Img/bar_graph1.png" style="height:16px;cursor:pointer" ng-click="showAdvanced($index)" /></td>
                        <td>
                          
                            <div class="checkbox" ng-click="SelectCompare($index)">
                                <label style="font-size: 1.5em">
                                    <input type="checkbox" value="">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                </label>
                            </div>
                        </td>
                       
                    </tr>
                    <tr>
                        <td colspan="9">
                            <md-button class="md-raised md-primary form-control" ng-disabled="FundsListShowMore" ng-click="ShowMore()" style="margin:0"><i class="fa fa-plus"></i> Show More </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- End Content -->
</div>




<table class="table table-bordered = margin-top-20" ng-if="compreTableView">
    <thead>
        <tr>
         <th><input type="button" value="Back" ng-click="gobackFundsCompare()" />  </th>   
         <th colspan="3" class="text-center" style="background-color:#293542;color:white"> Comparision of Funds</th>
            
        </tr>
        <tr>
            <th>Funds</th>
            <th class="text-center">Fund A</th>
            <th class="text-center">Fund B</th>
            <th class="text-center">Fund C</th>
        </tr>

    </thead>
    <tbody>
        <tr ng-repeat="compareData in CompareJson">
            <td style="width: 200px;"><strong>{{compareData.ColumnName}}</strong> </td>
            <td class="text-center text-justify">{{compareData.Data1}}</td>
            <td class="text-center text-justify">{{compareData.Data2}}</td>
            <td class="text-center text-justify">{{compareData.Data3}}</td>
        </tr>
        <tr>
            <td><strong>Select Funds</strong></td>
            <td ng-repeat="index in compareTempIndexes"><input type="button" class="btn btn-primary rounded-2x" value="Select" ng-click="clickCompareVal(index,'Page','SIP')" />
            </td>
            
        </tr>
        <tr>
            <td>

            </td>
            <td colspan="3" ng-if="showCompareInvestmentDiv">
                <div class="col-lg-12">
                    <div class="col-lg-3">Amount</div>
                    <div class="col-lg-9"><input type="text" class="form-control" ng-model="compareVal.compareAmountVal" /> </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-3">Investment Mode</div>
                    <div class="col-lg-9"><select class="form-control" ng-model="compareVal.compareSelectInvestmentModeVal">
                                              <option>Select Type</option>
                                              <option ng-value="SIP">SIP</option>
                                              <option ng-value="LUMPSUM">One Time Investment</option>                                                                            
                        </select> </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-3">
                    <input type="button" value="Invest Now" class="btn btn-success"  ng-click="investCompare()" />
                    
                    </div>
                    
                </div>
            </td>

        </tr>
      
    </tbody>

</table>
