<style>
    .carousel-v1 .carousel-caption p {
        font-family: 'Montserrat','Arial';
        color: #000000 !important;
        font-size: 175% !important;
        text-shadow: none !important;
        line-height: 1.5 !important;
        font-weight: bold !important;
        font-style: normal !important;
        text-decoration: none !important;
        text-align: center !important;
        letter-spacing: normal !important;
        word-spacing: normal !important;
        text-transform: none !important;
    }

    .leftTopHeader {
        font-family: Open Sans;
        font-size: 12px;
        word-wrap: break-word;
        color: #293542;
    }

   .carousel_Btn {
    border-radius: 3px !important;
    background-color: #008080 !important;
    margin-left:20%;
}

    .sip_CalculatorText {
        font-family: Open Sans;
        font-size: 28px;
        word-wrap: break-word;
        color: #ffffff;
    }

    .sip_CalculatorBtn {
        font-family: 'Montserrat','Arial';
        color: #ffffff;
        font-size: 14px;
        text-shadow: none;
        line-height: 1.5;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
    }

    .content-boxes-v1 span {
        font-size: 16px;
    }

    .investment_DataHeader {
        text-align: center;
        font-family: Open Sans;
        word-wrap: normal;
        font-weight: 400;
        color: #000000;
        font-size: 14px;
    }

    .caption-responsive {
    }

    /* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        /* Styles */
        .carousel-v1 .carousel-caption p {
            font-size: 80% !important;
        }
    }

    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) .carousel-v1 .carousel-caption p {
        /* Styles */
        .carousel-v1 .carousel-caption p {
            font-size: 80% !important;
        }
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) .carousel-v1 .carousel-caption p {
        /* Styles */
        .carousel-v1 .carousel-caption p {
            font-size: 80% !important;
        }
    }

    div_WindowHeight {
    }
    .sliderh1Font{
        text-align:left;
    }
    .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid black;
    border-radius: 10px !important;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
}
    .carousel-indicators {
    position: absolute;
    bottom: 10px;
    top: 95%;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
    .carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #008080 !important;
}
</style>
<div class="col-md-12" style="background-color:white;">
    <!--=== Slider ===-->
    <div class="row" ng-style="{'min-height':desktopHeight}">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img src="../../Img/kid.png" alt="Chania"  style="width:100%">
                        <div class="carousel-caption caurselCaption" >
                            <h3 class="fontSliderheader">Your child's dream needs your planning</h3>
                            <h5 class="fontSlidersubHeader">Plan for your child's education</h5>
                            <md-button class="Gray_Btn carousel_Btn">START PLANNING</md-button>


                        </div>
                    </div>

                    <div class="item">
                        <img src="../../Img/tennis.png" alt="Chania"  style="width:100%">
                        <div class="carousel-caption caurselCaption" >

                            <h3 class="fontSliderheader">There is nothing more relaxing than<br /> retirement,If you have planned for it</h3>
                            <md-button class="Gray_Btn carousel_Btn">PLAN YOUR RETIREMENT</md-button>



                        </div>
                    </div>

                    <div class="item">
                        <img src="../../Img/marriage.png" alt="Flower" style="width:100%">
                        <div class="carousel-caption caurselCaption" >
                            <h3 class="fontSliderheader">Make sure, you have everything <br /> prepared for  her big day</h3>
                            <md-button class="Gray_Btn carousel_Btn">START PLANNING</md-button>

                        </div>
                    </div>

                    <div class="item">
                        <img src="../../Img/buyacar.png" alt="Flower" style="width:100%">
                        <div class="carousel-caption caurselCaption" >
                            <h3 class="fontSliderheader">Now Just Don't Dream Your Dream Car</h3>
                            <md-button class="Gray_Btn carousel_Btn">PLAN IT</md-button>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../Img/buyahouse.png" alt="Flower" style="width:100%">
                        <div class="carousel-caption caurselCaption" >
                            <h3 class="fontSliderheader">Now Just Don't Dream Your Dream House</h3>
                            <md-button class="Gray_Btn carousel_Btn">PLAN IT</md-button>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../Img/golf.png" alt="Flower" style="width:100%">
                        <div class="carousel-caption caurselCaption" >
                            <h3 class="fontSliderheader">Grow  your income not your taxes</h3>
                            <h5 class="fontSlidersubHeader">Save up to  Rs. 46,350 * in  by investing in ELSS </h5>
                            <md-button class="Gray_Btn carousel_Btn">PLAN IT</md-button>
                        </div>
                    </div>
                </div>

               
            </div>



            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:48px">
            <div class="col-md-12" style="padding-right: 37px;;padding-top:20px">
                <p style="text-align:center">
                    <span class="leftTopHeader">Help us with some information of you to create a portfolio that best fits in your needs</span>
                </p>
                <h1 style="text-align:center;font-size: 36px;margin-top:10px;color: #293542;">PLAN YOUR FUTURE</h1>
                <div class="row" style="margin-top:30px">
                    <div class="form-group">
                        <div class="row" style="color:black !important;margin-left:-12px">

                            <div class="col-md-12">
                                <md-input-container class="md-block" style="height:25px;margin-top:-10px">
                                    <input ng-model="Age_Year" placeholder="Your Age" >
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row" style="color:black !important;margin-left:-12px">

                            <div class="col-md-12">
                                <md-input-container class="md-block" style="height:25px;margin-top:-10px">
                                    <input ng-model="Invest_money" placeholder="You can Invest ">
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <md-button class="carousel_Btn" style="background-color:#008080;color:#fff;">Proceed</md-button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--=== End Slider ===-->
    <!-- End Purchase Block -->
    <!--=== Content Part ===-->
    <div class="one-page row">
        <div class="container divider_color" ng-style="{'min-height':desktopHeight}" style="background-color:#293542;color:white;margin-top:20px;padding-top: 26px;width:100%;margin:auto;">
            <div class="row ">
                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <h5 style="text-align:center;color:#ffffff;font-size:12px;font-family:Open Sans">See how much your saving can grow through</h5>
                    <h1 style="text-align:center;font-size:28px;font-family:Open Sans">SYSTEMATIC INVESTMENT PLAN(SIP)</h1>
                    <div class="col-md-12 sentence" style="margin-top:70px">
                        <div class="sentence">
                            <span class="edit-age margin-bottom-30 sip_CalculatorText">
                                You can invest  <i class="fa fa-rupee" style="position: absolute;padding-left: 17px;padding-top: 15px;color:#c2c3c9"></i>
                                <input type="text" placeholder="" maxlength="7" name="age" class="enter-age enter-income border" ng-model="SIP_Money_bar">
                                <span class="madlib-error"></span> per month
                                from your savings for <input type="text" placeholder="" maxlength="7" name="age" class="enter-age age border" ng-model="SIP_Year_bar"> years  and you are expecting
                                <input type="text" placeholder="" maxlength="3" value="15" name="age" ng-model="SIP_Percet_bar" class="enter-age age border"> % return.
                            </span>

                            <md-button class="sip_CalculatorBtn" style="background-color:#008080;border:1px solid #fff;" ng-click="calculate_SIP()">CALCULATE IT</md-button>
                            <div ng-show="calulated_Money_SIP.length>0" style="background: #fff;border: 1px solid;color:#000;margin-top:10px;">Your investment of {{SIP_Money_bar * SIP_Year_bar * 12}} will grow up to <br /> <i class="fa fa-rupee"></i> {{calulated_Money_SIP}}</div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
            </div>

        </div>


        <div class="one-page-inner divider_color" ng-style="{'min-height':desktopHeight}">
            <div style="margin-top:20px;width:100%">
                <div style="width:90%;margin:auto;">
                    <div class="row">
                        <h1 style="color:#000 !important;margin-bottom:20px;text-align:center;font-size:46px;font-family: 'Open Sans', 'Source Sans Pro', sans-serif;margin-bottom:40px;margin-top:50px;">
                            SIP
                        </h1>
                        <h3 style="text-align:center;margin-bottom:40px">
                            <span style="color:#293542;font-size:19px;font-family:Open Sans">Simple, Smart and the best way for investing your money in mutual funds</span>
                        </h3>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" style="margin-top:20px;">
                                    <div style="text-align:center;padding-left:47%">  <div style="width:35px;height:30px;background-color:rgba(102,0,51,1);text-align:center;color:white;padding:5px;margin-bottom:10px;">1</div></div>
                                    <div class="col-md-12 text-center">
                                        <h1 style="color:black;margin-bottom:40px;font-family:Open Sans;font-size:16px;letter-spacing:2px;"><strong>Simple And Flexible </strong></h1>
                                        <p class="row3Paragraph">SIP is a convenient way of investing regularly on a monthly basis. You can start investing in small amounts in the recommended schemes. SIPs come with several benefits and flexibilities. You may liquidate your investments in the time of need or you may change your investment amounts. SIP is one of the most secure, flexible and friendly way to grow your wealth.</p>
                                    </div>
                                </div>
                                <div class="ccol-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" style="margin-top:20px;">
                                    <div style="text-align:center;padding-left:47%">  <div style="width:35px;height:30px;background-color:rgba(102,0,51,1);text-align:center;color:white;padding:5px;margin-bottom:10px;">2</div></div>
                                    <div class="col-md-12 text-center">
                                        <h1 style="color:black;margin-bottom:40px;font-family:Open Sans;font-size:16px;letter-spacing:2px;"><strong>Power Of Compounding  </strong></h1>
                                        <p class="row3Paragraph">
                                            With time and compounding interest that you receive on your investments, your wealth can grow many folds. Compound interest over years works as a multiplier of your wealth.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" style="margin-top:20px;">
                                    <div style="text-align:center;padding-left:47%">  <div style="width:35px;height:30px;background-color:rgba(102,0,51,1);text-align:center;color:white;padding:5px;margin-bottom:10px;">3</div></div>
                                    <div class="col-md-12 text-center">
                                        <h1 style="color:black;margin-bottom:40px;font-family:Open Sans;font-size:16px;letter-spacing:2px;"><strong>Disciplined Investment </strong></h1>
                                        <p class="row3Paragraph">
                                            One of the most important factor to earn lucrative returns on your investments is the disciplined investment. SIP is highly recommended as it sets a good habit of savings, which helps you to fulfill your dreams.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" style="margin-top:20px;">
                                    <div style="text-align:center;padding-left:47%">  <div style="width:35px;height:30px;background-color:rgba(102,0,51,1);text-align:center;color:white;padding:5px;margin-bottom:10px;">4</div></div>
                                    <div class="col-md-12 text-center">
                                        <h1 style="color:black;margin-bottom:40px;font-family:Open Sans;font-size:16px;letter-spacing:2px;"><strong>Immunity From Short-term Market Volatility </strong></h1>
                                        <p class="row3Paragraph">
                                            Financial markets may sometimes show a downward trends, however, your investments through SIP doesn’t get affected much
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
                            <div id="myCarousel" class="carousel slide carousel-v1 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="../../Img/belowSlider1.jpg" alt="" style="margin:auto">

                                    </div>
                                    <div class="item">
                                        <img src="../../Img/belowSlider2.jpg" alt="" style="margin:auto">-->
                        <!--<div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                        </div>-->
                        <!--</div>
                            <div class="item">
                                <img src="../../Img/belowSlider3.jpg" alt="" style="margin:auto">

                            </div>
                        </div>-->
                        <!--<div class="carousel-arrow">
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>-->
                        <!--</div>-->
                        <!--<img src="http://demobyrightfoot.in/wp-content/uploads/2016/09/PLAN-YOUR-FUTURE-709x1024-346x500.jpg" alt="">-->
                        <!--<div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="one-page-inner">
            <div class="row" ng-style="{'min-height':desktopHeight}" style="background-color:#293542;height:auto;">
                <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:16px;margin-top:50px;">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h1 style="color:white  !important;margin-bottom:20px;text-align:left;font-size:2.4em;font-family: PT Sans Narrow;letter-spacing: -1px;word-spacing: 1px;line-height: 39px;">
                            With ELSS, you can grow your investments and also you save taxes under Section 80C of Income Tax Act.
                            Save up to Rs. 45000* with your investments of Rs. 1, 50,000.

                        </h1>
                        
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <iframe height="300px" width="100%" src="https://www.youtube.com/embed/mInPCUXo0lw" frameborder="0" allowfullscreen></iframe>
                    </div>

                    
                </div>
            </div>
        </div>
        <div class="one-page-inner one-default margin-bottom-60">
            <div class="container">
                <div class="row" ng-style="{'min-height':desktopHeight}">
                    <div calss="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 style="color:#293542  !important;margin-bottom:20px;text-align:center;font-size:26px;font-family: 'Open Sans', 'Source Sans Pro', sans-serif;margin-bottom:20px;">Where your investment is going</h1>
                    </div>
                    <div calss="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="header_color" style="text-align:center;">WE WORK TOWARDS YOUR FUTURE</h4>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 below_slider">
                        <!--<div class="carousel slide carousel-v1" id="myCarousel-1">
                                                <div class="carousel-inner">
                                                    <div class="item active row">
                                                            <img alt="" src="../../Img/piechart.png">
                                                            <div class="carousel-caption">
                                                            <h4 class="header_color"><strong>Review your recommended investment portfolio</strong> </h4>
                                                            <p class="paragraph_color" style="font-size: 14px !important;
                        font-weight: 400!important;text-align:left !important;">Based on your goal and risk profile ,We recommend an investment portfolio that suits your needs .You can also choose your own funds .or our experts are always available to support you if you find troubling in taking your decision</p>

                                                            </div>

                                                    </div>
                                                    <div class="item row">
                                                            <img alt="" src="../../Img/target.png">
                                                            <div class="carousel-caption" style="padding-top:3%">
                                                            <h4 class="header_color"><strong>Share your investment goals</strong> </h4>
                                                            <p class="paragraph_color" style="font-size: 14px !important;
                        font-weight: 400!important;text-align:left !important;;">We need to know about you,about who you are ,what you want to achieve.Once we know about you ,It helps us to do the analysis according to your needs.</p>

                                                            </div>

                                                    </div>
                                                    <div class="item row">
                                                            <img alt="" src="../../Img/SignIn.png" >
                                                            <div class="carousel-caption" style="padding-top:4%">
                                                            <h4 class="header_color"><strong>SIGN UP</strong> </h4>
                                                            <p class="paragraph_color" style="font-size: 14px !important;
                        font-weight: 400!important;text-align:left !important;;">Now sign up with us .open a free account .verify your account using PAN card .Your eKYC will be complete. You will be eligible to invest in a selected number of schemes, and you will enjoy access to the full range of services on Investorfunda.</p>
                                                        </div>

                                                    </div>
                                                    <div class="item row">
                                                            <img alt="" src="../../Img/42.png" >
                                                            <div class="carousel-caption" style="padding-top:4%">
                                                            <h4 class="header_color"><strong>SIGN UP</strong> </h4>
                                                            <p class="paragraph_color" style="font-size: 14px !important;
                        font-weight: 400!important;text-align:left; !important;">Money you invested goes directly to the respective fund houses account  that you have selected or advised by us.We don't keep your money with us.</p>

                                                            </div>

                                                    </div>
                                                </div>
                                            </div>-->

                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img alt="" src="../../Img/share.png">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4 class="investment_DataHeader"><strong>Share your investment goals </strong> </h4>
                                        <p class="paragraph_color" style="font-size: 12px !important;
    font-weight: 400!important;text-align:left !important;line-height:2;">We need to know your investment objective. We calculate the required amount to achieve your goal based on your details.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img alt="" src="../../Img/trackPortfolio.png">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4 class="investment_DataHeader"><strong>Review your recommended investment portfolio</strong> </h4>
                                        <p class="paragraph_color" style="font-size: 12px !important;
    font-weight: 400!important;text-align:left !important;line-height:2;">After careful consideration of your goals and the risk profile, we recommend an investment option that is best suited. You have the flexibility of choosing your own schemes too. Our experts are always there to guide you as well.</p>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img alt="" src="../../Img/signUp.png">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4 class="investment_DataHeader"><strong>Sign Up</strong> </h4>
                                        <p class="paragraph_color" style="font-size: 12px !important;
    font-weight: 400!important;text-align:left !important;line-height:2;">Now open a free account with us after verifying it using a PAN/Aadhar card. This verification will complete your KYC and you are ready to invest. Enjoy access to the full range of services on Investor Funda.</p>
                                    </div>
                                </div>
                            </div>
                            


                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img alt="" src="../../Img/Review.png">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4 class="investment_DataHeader"><strong>Track  your portfolio</strong> </h4>
                                        <p class="paragraph_color" style="font-size: 12px !important;
    font-weight: 400!important;text-align:left !important;line-height:2;">Money you invest, goes directly to the respective fund houses that have been selected. Keep a tab on your investments with our personalized app. We are always there to assist you.</p>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="one-page-inner one-default ">
            <div class="container">
                <div class="row" ng-style="{'min-height':desktopHeight}">
                    <h1 style="color:#293542  !important;margin-bottom:20px;text-align:center;font-size:39px;font-family: 'Open Sans', 'Source Sans Pro', sans-serif;">We are your Investment solution</h1>
                    <h4 class="header_color" style="text-align:center">Build a smart, efficient, diversified portfolio </h4>
                    <div class="col-md-12 below_slider margin-bottom-50">
                        <div class="col-md-6 text-center">
                            
                            <img src="../../Img/StartSip/solution-01.svg" />
                            <h4 class="header_color" style="text-align:center;font-weight:800;font-size: 14px;">Best investment solutions</h4>
                        </div>
                        <div class="col-md-6 text-center">
                           
                            <img src="../../Img/StartSip/headphone-01.svg" style="width:60px" />
                            <h4 class="header_color" style="text-align:center;font-weight:800;font-size: 14px;">Dedicated customer support</h4>
                        </div>
                    </div>
                    <div class="col-md-12 below_slider">
                        <div class="col-md-6 text-center">
                            <img src="../../Img/StartSip/gift-01.svg" />
                            <h4 class="header_color" style="text-align:center;font-weight:800;font-size: 14px;">no transaction fee, no account opening  <br />and no account maintenance fees.</h4>
                        </div>
                        <div class="col-md-6 text-center">
                            
                            <img src="../../Img/StartSip/mobile-01.svg" style="height:40PX" />
                            <h4 class="header_color" style="text-align:center;font-weight:800;font-size: 14px;">See all your investments in one <br /> place with our mobile app.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="one-page-inner one-default ">
            <div class="row" ng-style="{'min-height':desktopHeight}" style="background-color:#293542;color:white">
                <div class="container">
                    <div class="row" style="margin-top:200px;margin-bottom:200px;">
                        <div class="col-md-6">
                            <br>
                            <h1 style="color:white !important;text-align:center;font-size:34px;font-family: 'Open Sans', 'Source Sans Pro', sans-serif;"> Serious Security</h1>
                            <h4  style="color:white !important;text-align:center">All of your data is protected with 256-bit encryption and never stored on your phone, tablet or computer.</h4>

                            <ul class="ul-list">
                                <li style="color:rgba(255, 255, 255, 0.65)">
                                    <h6 style="color:white"><i class="fa fa-lock"></i> BANK-LEVEL SECURITY </h6>
                                    <i class="fa fa-check"></i> Secure servers and privacy verified by physical security.
                                </li>
                                <li style="color:rgba(255, 255, 255, 0.65)">
                                    <h6 style="color:white"><i class="fa fa-bookmark-o"></i> ACCOUNT ALERTS </h6>
                                    <i class="fa fa-check"></i> We will contact you about unusual account activity for protection against fraud.
                                </li>
                                <li style="color:rgba(255, 255, 255, 0.65)">
                                    <h6 style="color:white"><i class="fa fa-bookmark-o"></i> ACCOUNT SAFEGUARDS </h6>
                                    <i class="fa fa-check"></i> Multi-factor authentication, automatic logouts and ID verification help prevent unauthorized access.
                                </li>
                            </ul>
                            <!--<div class="button1">
                                <a href="#menu6">Request a quote</a>
                            </div>   <br>-->
                        </div>
                        <div class="col-md-6" style="padding-top: 37px;">
                            <img src="http://demobyrightfoot.in/wp-content/uploads/2016/09/phone@2x.png" height="300px" />

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="one-page-inner one-default margin-bottom-60">
            <div class="container">
                <div class="row" ng-style="{'min-height':desktopHeight}">
                    <div class="col-md-12">
                        <br>
                        <h1 class="header_color" style="text-align:center;font-size:34px;font-family: 'Open Sans', 'Source Sans Pro', sans-serif;"> Track your Investments from wherever you are</h1>
                        <h4 class="header_color" style="text-align:center">Investorfunda offers an Investment Management App built natively for your iPhone, iPad and Android. </h4>
        
                        <div class="col-md-12 below_slider margin-bottom-50">
                            <!--<div class="col-md-6 text-center">
                                <img src="http://demobyrightfoot.in/wp-content/uploads/2016/09/App-Store-Transparent-border.png" style="width:200px" />
                            </div>-->
                            <div class="col-md-6 text-center" style="margin-top: 7px">
                                <img src="http://demobyrightfoot.in/wp-content/uploads/2016/09/en_badge_web_generic.png" style="width:220px" />
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <img src="http://demobyrightfoot.in/wp-content/uploads/2016/09/Presentation114-1024x576.jpg" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="one-page-inner one-default margin-bottom-60 divider_color" style="margin:auto;border:1px solid #000000;">
            <div class="container">
                <div class="row text-center">
                    <h1 style="color:#293542  !important;margin-bottom:40px;text-align:center;font-size:26px;line-height:1.7;font-weight:400;font-family: 'Open Sans', 'Source Sans Pro', sans-serif;"> OUR<br> PARTNERS</h1>
                    <div id="clients-flexslider" class="flexslider home clients">

                        <ul class="slides">
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/AIGb.png" alt="">
                                    <img src="../../Img/Clients/AIGc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/BankOfBarodab.png" alt="">
                                    <img src="../../Img/Clients/BankOfBarodac.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Becnhamarkb.png" alt="">
                                    <img src="../../Img/Clients/Becnhamarkc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Bhartib.png" alt="">
                                    <img src="../../Img/Clients/Bhartic.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Birlab.png" alt="">
                                    <img src="../../Img/Clients/Birlac.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/BNPb.png" alt="">
                                    <img src="../../Img/Clients/BNPc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Canarab.png" alt="">
                                    <img src="../../Img/Clients/Canarac.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/DaiwaAMb.png" alt="">
                                    <img src="../../Img/Clients/DaiwaAMb.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/DSPb.png" alt="">
                                    <img src="../../Img/Clients/DSPb.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Edelweissb.png" alt="">
                                    <img src="../../Img/Clients/Edelweissc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Eiiib.png" alt="">
                                    <img src="../../Img/Clients/Eiiic.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/HDFCb.png" alt="">
                                    <img src="../../Img/Clients/HDFCc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/ICICIb.png" alt="">
                                    <img src="../../Img/Clients/ICICIc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/IDBIb.png" alt="">
                                    <img src="../../Img/Clients/IDBIc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/INGb.png" alt="">
                                    <img src="../../Img/Clients/INGc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/JMb.png" alt="">
                                    <img src="../../Img/Clients/JMc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Kotakb.png" alt="">
                                    <img src="../../Img/Clients/Kotakc.png" class="color-img" alt="">
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/L&Tb.png" alt="">
                                    <img src="../../Img/Clients/L&Tc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/LICb.png" alt="">
                                    <img src="../../Img/Clients/LICc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Miraeb.png" alt="">
                                    <img src="../../Img/Clients/Miraec.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Morganb.png" alt="">
                                    <img src="../../Img/Clients/Morganc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Motilalb.png" alt="">
                                    <img src="../../Img/Clients/Motilalc.png" class="color-img" alt="">
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/peerlessb.png" alt="">
                                    <img src="../../Img/Clients/peerlessc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Pioneerb.png" alt="">
                                    <img src="../../Img/Clients/Pioneerc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Pramericab.png" alt="">
                                    <img src="../../Img/Clients/Pramericac.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Principalb.png" alt="">
                                    <img src="../../Img/Clients/Principalc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Religreb.png" alt="">
                                    <img src="../../Img/Clients/Religrec.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Saharab.png" alt="">
                                    <img src="../../Img/Clients/Saharac.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/StandardCb.png" alt="">
                                    <img src="../../Img/Clients/StandardCc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/tatab.png" alt="">
                                    <img src="../../Img/Clients/tatac.png" class="color-img" alt="">
                                </a>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/UTIb.png" alt="">
                                    <img src="../../Img/Clients/UTIc.png" class="color-img" alt="">
                                </a>
                            </li>



                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Fidelityb.png" alt="">
                                    <img src="../../Img/Clients/Fidelityc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Franklinb.png" alt="">
                                    <img src="../../Img/Clients/Franklinc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Gsamb.png" alt="">
                                    <img src="../../Img/Clients/Gsamc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/IIFLb.png" alt="">
                                    <img src="../../Img/Clients/IIFLc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/IndiaBullsb.png" alt="">
                                    <img src="../../Img/Clients/IndiaBullsc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/jpmorganb.png" alt="">
                                    <img src="../../Img/Clients/jpmorganc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/PNBb.png" alt="">
                                    <img src="../../Img/Clients/PNBc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Quantumb.png" alt="">
                                    <img src="../../Img/Clients/Quantumc.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Relianceb.png" alt="">
                                    <img src="../../Img/Clients/Reliancec.png" class="color-img" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Img/Clients/Sundaramb.png" alt="">
                                    <img src="../../Img/Clients/Sundaramc.png" class="color-img" alt="">
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="one-page-inner one-default margin-bottom-60 divider_color">
            <div class="container" style="margin-top:150px;">
                <div class="row text-center">
                    <h1 style="color:#293542  !important;margin-bottom:40px;text-align:center;font-size:28px;font-family: 'Open Sans', 'Source Sans Pro', sans-serif;"> What is your investment goal?</h1>
                    <div class="row">
                        <div class="row content-boxes-v1 margin-bottom-40">
                            <div class="col-md-2 md-margin-bottom-30 AnchorCursorPointer" ui-sref="ChildGoal">
                                <h2 class="heading-md">
                                    <i class="icon-custom rounded-x icon-lg icon-bg-dark fa fa-graduation-cap"></i>
                                    <span>CHILD’S EDUCATION</span>
                                </h2>

                            </div>
                            <div class="col-md-2 md-margin-bottom-30 AnchorCursorPointer" ui-sref="Retirement">
                                <h2 class="heading-md">
                                    <i class="icon-custom rounded-x icon-lg icon-bg-dark fa fa-wheelchair"></i>
                                    <span>RETIREMENT PLAN</span>
                                </h2>

                            </div>
                            <div class="col-md-2" ui-sref="HousePlan">
                                <h2 class="heading-md" >
                                    <i class="icon-custom rounded-x icon-lg icon-bg-dark icon-line icon-home"></i>
                                    <span>BUY A HOUSE PLAN</span>
                                </h2>

                            </div>
                            <div class="col-md-2" ui-sref="CarPlan">
                                <h2 class="heading-md">
                                    <i class="icon-custom rounded-x icon-lg icon-bg-dark fa fa-car"></i>
                                    <span>PLAN FOR CAR INVESTMENT</span>
                                </h2>

                            </div>
                            <div class="col-md-2" ui-sref="ChildMerrage">
                                <h2 class="heading-md">
                                    <i class="icon-custom rounded-x icon-lg icon-bg-dark icon-line icon-user"></i>
                                    <span>CHILD’S MARRIAGE PLAN</span>
                                </h2>

                            </div>
                            <div class="col-md-2" ui-sref="Tour">
                                <h2 class="heading-md">
                                    <i class="icon-custom rounded-x icon-lg icon-bg-dark icon-line icon-home"></i>
                                    <span>PLAN A HOLIDAY</span>
                                </h2>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        
    </div><!--/one-page-->
    <!-- End Content Part -->
</div>
<script type="text/javascript">
    //jQuery(document).ready(function() {
    //  	App.init();
    //    App.initFancybox();
    //    Index.initRevolutionSlider();
    //    App.initSliders();
    //});
    $('#myCarousel').carousel({
        interval: 3000,
        cycle: true
    });
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
