
<style>
    .tabsdemoDynamicHeight md-content {
        background-color: transparent !important;
    }

        .tabsdemoDynamicHeight md-content md-tabs {
            background: #f6f6f6;
            border: 1px solid #e1e1e1;
        }

            .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
                background: white;
            }

        .tabsdemoDynamicHeight md-content h1:first-child {
            margin-top: 0;
        }

    .loginBox {
        max-width: 90%;
        width: 500px;
    }

    .stretch input {
        width: 100%;
    }
</style>
<div ng-cloak >
    <div class="col-lg-12">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
                    <md-tab label="Login">
                        <md-content class="md-padding">
                            <div layout="column" layout-align="center center" layout-fill="layout-fill">
                                <div layout="column" class="loginBox md-whiteframe-z1">
                                    <md-toolbar>
                                        <h2 class="md-toolbar-tools md-background-custom"><span style="color:white">LOG IN AND START INVESTING</span></h2>
                                    </md-toolbar>
                                    <md-content layout="column" class="md-padding" >
                                        <form name="loginForm" ng-show="!ForgotPasswordDiv" ng-submit="Login_All()" novalidate>
                                            <md-input-container>
                                                <label>Email</label>
                                                <input type="email" ng-model="user.username" name="username" required />
                                                <div ng-show="loginForm.$submitted || loginForm.username.$touched">
                                                    <div ng-show="loginForm.username.$error.required" class="errorColor" >Enter your Email </div>
                                                </div>

                                            </md-input-container>
                                            <md-input-container>
                                                <label>Password</label>
                                                <input type="password" ng-model="user.password" name="userPassword" required />
                                                <div ng-show="loginForm.$submitted || loginForm.userPassword.$touched">
                                                    <div ng-show="loginForm.userPassword.$error.required" class="errorColor">Enter your Password </div>
                                                </div>
                                            </md-input-container>
                                            <div layout="row" layout-align="center center" style="padding-top:20px;">
                                                <md-button class="md-raised md-button-custom" type="submit" ng-click="Login_All()" ng-disabled="loginForm.$invalid">Login</md-button>
                                                <div flex="flex"></div>
                                                <md-button href="" md-no-ink="md-no-ink" ng-click="ForgotPassWordStep1()">Forgot Password</md-button>
                                            </div>
                                            <div layout="row" style="padding-top:20px;color:red" ng-show="ErrorMessage !=''">
                                                {{ErrorMessage}}
                                            </div>
                                        </form>
                                        <form name="ForgotPassword" ng-show="ForgotPasswordDiv2">
                                            <!--<md-input-container>
                                                <label>Email</label>
                                                <input type="email" ng-model="ForgotPassword.EmailID" required />
                                            </md-input-container>-->
                                            <md-input-container>
                                                <label>Mobile No</label>
                                                <input type="text" ng-model="ForgotPassword.MobileNO" required />
                                            </md-input-container>
                                            <div layout="row" layout-align="center center" style="padding-top:20px;" ng-show="!ForgotgetOtpBtn">
                                                <md-button class="md-raised md-button-custom" ng-click="forgotSendMObileSMS()" >Get OTP</md-button>
                                                <div flex="flex"></div>

                                            </div>
                                            <md-input-container ng-show="ForgotgetOtpBtn">
                                                <label>OTP</label>
                                                <input type="text" ng-model="forgotMatchOTPVal" name="Mobile" required />
                                                
                                            </md-input-container>
                                            <div layout="row" layout-align="center center" style="padding-top:20px;" ng-show="ForgotgetOtpBtn">
                                                <md-button class="md-raised md-button-custom" ng-click="forgotMatchOTP()" type="submit">Submit</md-button>
                                                <div flex="flex"></div>
                                                <md-button class="md-raised md-button-custom" ng-click="ChangePassword()">Back To Login</md-button>
                                            </div>
                                            <!--<div layout="row" layout-align="center center" style="padding-top:20px;">
                                                <md-button href="" md-no-ink="md-no-ink" ng-click="ForgotPassWordStep2()">Submit</md-button>
                                                <div flex="flex"></div>
                                                <md-button class="md-raised md-button-custom"  ng-click="ChangePassword()">Back To Login</md-button>
                                                
                                                
                                            </div>-->
                                            <div layout="row" style="padding-top:20px;color:red" ng-show="ErrorMessage !=''">
                                                {{ErrorMessage}}
                                            </div>
                                        </form>
                                        <form name="ForgotPassword" ng-show="ForgotPasswordDivPassEnter">
                                            <!--<md-input-container>
                                                <label>Password</label>
                                                <input type="text" ng-model="ForgotPassword.Password" required />
                                            </md-input-container>-->
                                            <md-input-container>
                                                <label>New Password</label>
                                                <input type="password" ng-model="ForgotPassword.ConfPassword" required />
                                            </md-input-container>
                                            <div layout="row" layout-align="center center" style="padding-top:20px;">
                                               
                                                <div flex="flex"></div>
                                                <md-button href="" md-no-ink="md-no-ink" ng-click="ChangePassword()">Change Password</md-button>
                                            </div>
                                            <div layout="row" style="padding-top:20px;color:red" ng-show="ErrorMessage !=''">
                                                {{ErrorMessage}}
                                            </div>
                                        </form>
                                    </md-content>
                                </div>
                            </div>
                            
                        </md-content>
                    </md-tab>
                    <md-tab label="OPEN ACCOUNT">
                        <md-content class="md-padding">
                           
                                <div layout="column" layout-align="center center" layout-fill="layout-fill">
                                    <div layout="column" class="loginBox md-whiteframe-z1">
                                        <md-toolbar>
                                            <h2 class="md-toolbar-tools md-background-custom"><span style="color:white">OPEN A FREE ACCOUNT</span></h2>
                                        </md-toolbar>

                                        <form name="MobileSMS"  novalidate ng-show="!showRegistationForm">

                                            <md-content layout="column" class="md-padding">
                                                <md-input-container>
                                                    <label>Mobile No</label>
                                                    <input type="text" ng-model="Register.mobileno" name="Mobile" required />
                                                    <!--<div ng-show="MobileSMS.$submitted || MobileSMS.Mobile.$touched">
                                                        <div ng-show="MobileSMS.Mobile.$error.required" class="errorColor">Enter Mobile No </div>
                                                    </div>-->
                                                </md-input-container>

                                                <div layout="row" layout-align="center center" style="padding-top:20px;" ng-show="!getOtpBtn">
                                                    <md-button class="md-raised md-button-custom" ng-click="SendMObileSMS()"  type="submit" >Get OTP</md-button>
                                                    <div flex="flex"></div>

                                                </div>
                                                <md-input-container ng-show="getOtpBtn">
                                                    <label>OTP</label>
                                                    <input type="text" ng-model="matchOTP" name="Mobile" required />
                                                    <div ng-show="matchOTP.$submitted || MobileSMS.matchOTP.$touched">
                                                        <div ng-show="MobileSMS.matchOTP.$error.required" class="errorColor">Enter OTP </div>
                                                    </div>
                                                </md-input-container>
                                                <div layout="row" layout-align="center center" style="padding-top:20px;" ng-show="getOtpBtn">
                                                    <md-button class="md-raised md-button-custom" ng-click="MatchOTP()" type="submit">Submit</md-button>
                                                    <div flex="flex"></div>

                                                </div>
                                               
                                                <div layout="row" style="padding-top:20px;color:red" ng-show="ErrorMessage !=''">
                                                    {{ErrorMessage}}
                                                </div>
                                            </md-content>
                                        </form>

                                            <form name="RegistrationForm" ng-submit="RegistrationFun()" novalidate ng-show="showRegistationForm">
                                                <md-content layout="column" class="md-padding">
                                                    <md-input-container>
                                                        <label>First Name</label>
                                                        <input type="text" ng-model="Register.FirstName" name="firstName" required />
                                                        <div ng-show="RegistrationForm.$submitted || RegistrationForm.firstName.$touched">
                                                            <div ng-show="RegistrationForm.firstName.$error.required" class="errorColor">Enter your first name </div>
                                                        </div>
                                                    </md-input-container>
                                                    <md-input-container>
                                                        <label>Last Name</label>
                                                        <input type="text" ng-model="Register.LastName" />
                                                    </md-input-container>
                                                    <md-input-container>
                                                        <label>Gender</label>
                                                        <md-select ng-model="Register.Gender" name="gender" required>
                                                            <md-option value="Male">Male</md-option>
                                                            <md-option value="Female">Female</md-option>
                                                            <md-option value="Other">Other</md-option>
                                                        </md-select>
                                                        <div ng-show="RegistrationForm.$submitted || RegistrationForm.gender.$touched">
                                                            <div ng-show="RegistrationForm.gender.$error.required" class="errorColor">Select your gender </div>
                                                        </div>
                                                    </md-input-container>
                                                    <md-input-container ng-if="false">
                                                        <label>Pan Card No</label>
                                                        <input type="text" ng-model="Register.PanCard=''" required />
                                                    </md-input-container>
                                                    <md-input-container>
                                                        <label>Email</label>
                                                        <input type="email" ng-model="Register.Email" name="email" required />
                                                        <div ng-show="RegistrationForm.$submitted || RegistrationForm.email.$touched">
                                                            <div ng-show="RegistrationForm.email.$error.required" class="errorColor">Enter your email </div>
                                                        </div>
                                                    </md-input-container>
                                                    <md-input-container>
                                                        <label>Password</label>
                                                        <input type="password" ng-model="Register.Password" name="password" required />
                                                        <div ng-show="RegistrationForm.$submitted || RegistrationForm.password.$touched">
                                                            <div ng-show="RegistrationForm.password.$error.required" class="errorColor">Enter your password </div>
                                                        </div>
                                                    </md-input-container>
                                                    <md-input-container>
                                                        <label>Mobile No</label>
                                                        <input ng-disabled="true" type="text" ng-model="Register.mobileno" name="mobile" required />
                                                        <div ng-show="RegistrationForm.$submitted || RegistrationForm.mobile.$touched">
                                                            <div ng-show="RegistrationForm.mobile.$error.required" class="errorColor">Enter your mobile no </div>
                                                        </div>

                                                    </md-input-container>
                                                    <div layout="row" layout-align="center center" style="padding-top:20px;">
                                                        <md-button class="md-raised md-button-custom" ng-click="RegistrationFun()" type="submit" ng-disabled="RegistrationForm.$invalid">Open Account</md-button>
                                                        <div flex="flex"></div>

                                                    </div>
                                                    <div layout="row" style="padding-top:20px;color:red" ng-show="ErrorMessage !=''">
                                                        {{ErrorMessage}}
                                                    </div>
                                                </md-content>
                                            </form>
</div>
                            </div>

                        </md-content>
                        
                    </md-tab>
                   
                </md-tabs>
            </md-content>
        </div>
        <div class="col-lg-1">

        </div>
    </div>

</div>