
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-50 margin-top-20">
    <!-- Begin Sidebar Menu -->
    <!--<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <h3 style="text-align:center">
            {{FilterTempValue}}

        </h3>
        <div ng-repeat="(department, MFList) in groups">
          
            
            <ul ng-repeat="Elss in MFList" ng-if="Elss.MFtype==FilterTempValue" ng-show="$index==0">
              
                    
                    <li ng-repeat="para in Elss.Discription">
                        
                      <strong  >{{para}}</strong>
                    </li>

                
            </ul>
        </div>
    </div>-->
    
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 rounded-2x">
            <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
                <li class="list-group-item active">
                    <a class="AnchorCursorPointer" data-target="#collapse-forms" data-toggle="collapse">Filter</a>
                    <ul id="collapse-forms" class="collapse in">
                        <li class="list-group-item list-toggle listValPar">
                            <a class="AnchorCursorPointer" data-target="#collapse-AssetsType" data-toggle="collapse"><i class="fa fa-eye-slash"></i> Select Funds Category</a>
                            <ul id="collapse-AssetsType" class="collapse in">

                                <li ng-repeat="(department, MFList) in groups" class="listVal">
                                    <a style="cursor:pointer" ng-click="filterTopFunds(department)"> {{department}}</a>

                                </li>


                            </ul>
                        </li>


                    </ul>
                </li>
            </ul>
        </div>
        <!-- End Sidebar Menu -->
        <!-- Begin Content -->
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="alert alert-info fade in rounded-2x">
                <h3>{{FilterTempValue}} </h3>
                <div ng-repeat="(department, MFList) in groups">


                    <ul ng-repeat="Elss in MFList" ng-if="Elss.MFtype==FilterTempValue" ng-show="$index==0">


                        <li ng-repeat="para in Elss.Discription">

                            {{para}}
                        </li>


                    </ul>
                </div>
            </div>
            <div class="panel panel-green margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><input type="text" class="form-control" placeholder="Search By Scheme Name " ng-keyup="CheckFundsListExists()" ng-model="filterprodcut.SchemeName" /></h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead style="border-bottom:1px solid rgba(128, 128, 128, 0.67)">
                            <tr>
                                <th>SR. No.</th>
                                <th>Scheme</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="(department, MFList) in groups">
                            <!-- Repeat List of All mutual funds -->
                            <tr ng-if="department==FilterTempValue">
                                <td colspan="4"><strong>{{department}}</strong> </td>
                            </tr>
                            <tr ng-repeat="Elss in MFList" ng-if="Elss.MFtype==FilterTempValue">
                                <td>{{$index+1}}</td>
                                <td class="OnHoverSchemename" ng-click="GoForMFDetails(Elss.Scheme_ID)"> {{Elss.SchemeName}}</td>
                                <td><input type="text" style="width:60px" id="{{$index}}Amount" /></td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn-u dropdown-toggle" data-toggle="dropdown">
                                            Select
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a ng-click="InvestLumpsum($index,'Page','LUMPSUM','','Recommonded',Elss.BSESchmecode)"><i class="fa fa-inr"></i> Buy Lumpsum</a></li>
                                            <li><a ng-click="InvestLumpsum($index,'Page','SIP','','Recommonded',Elss.BSESchmecode)"><i class="fa fa-inr"></i> Buy SIP</a></li>
                                            <!--<li><a ><i class="fa fa-shopping-cart"></i> Add to cart as Lumpsum</a></li>
                                            <li><a ><i class="fa fa-shopping-cart"></i> Add to cart as SIP</a></li>-->
                                            <!--<li class="divider"></li>-->
                                            <!--<li><a ><i class="fa fa-heart-o"></i> Add To WatchList</a></li>-->
                                        </ul>
                                    </div>
                                </td>
                            </tr>







                            <!--<tr>
                                <td colspan="9">
                                    <md-button class="md-raised md-primary form-control" ng-disabled="FundsListShowMore" ng-click="ShowMore()" style="margin:0"><i class="fa fa-plus"></i> Show More </md-button>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End Content -->
    </div>
